<ion-content [fullscreen]="true">
  <div class="header">
    <div class="title">Course Survey Form</div>
  </div>
  <div class="feedback-main">
    <div class="form">
      <div class="title">CourseFeedback</div>
      <ion-label
        >How was the difficulty of Course?</ion-label
      >
      <ion-input type="text" [(ngModel)]="feedback.difficulty"></ion-input>
      <ion-label
        >Were you able to understand concepts easily?</ion-label
      >
      <ion-input
        type="text"
        [(ngModel)]="feedback.questions_answered"
      ></ion-input>
      <ion-label
        >How would you describe Teaching methods used?</ion-label
      >
      <ion-input
        type="text"
        [(ngModel)]="feedback.time_sufficiency"
      ></ion-input>
      <ion-label
        >Any suggestions for course updation?</ion-label
      >
      <ion-input type="text" [(ngModel)]="feedback.suggestions"></ion-input>

      <ion-button class="btn" expand="block" (click)="submitFeedback()"
        >Submit Here</ion-button
      >
    </div>
  </div>
</ion-content>
