/* feedback.page.scss */

.header {
    background-color: #007bff; /* Header background color */
    color: white; /* Header text color */
    padding: 20px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

ion-content.content, ion-list, ion-item {
    --ion-background-color: #f4f5f8; /* Set the background color to a light shade */
  }

ion-toolbar{
    background-color: #007bff;
}

ion-content {
  ion-list {
    ion-item {
      ion-label {
        h2 {
          font-size: 1.5rem; /* Adjust heading font size */
          color: white; /* Set text color */
          margin-bottom: 0.5rem; /* Add some bottom margin */
        }
        p {
          font-size: 1rem; /* Adjust paragraph font size */
          color: white; /* Set text color */
          margin-bottom: 0.25rem; /* Add some bottom margin */
        }
      }
    }
  }
}
